footer {
	width: 100%;
	background: radial-gradient(circle at center, rgba(255,255,255,0.8), rgba(255,255,255,0.4), rgba(255,255,255,0));
	position: fixed;
	bottom: 20px;
	padding: 8px !important;
	left: 0;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.footer-divider {
	margin: 0 5px;
}

footer a:hover {
	text-decoration: underline;
}